<%- partial('_partial/header.ejs') %>

<main class="post-container">
    <div class="post-inner">
        <div class="archive">
          <% var lastyear; %>
          <% page.posts.each(function(post){ %>
            <% var year = post.date.year() %>
            <% if(lastyear !== year){ %>
              <h4 class="year"><%= year %></h4>
              <% lastyear = year %>
            <% } %>
            <div class="archive_item">
              <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
              <span class="date"><%= post.date.format('YYYY-MM-DD') %></span>
            </div>
          <% }) %>
        </div>
    </div>
    <%- partial('_partial/footer.ejs') %>
</main>

